{{ if .ref }}  
  {{ $parent := "" }}
  {{ if .parent }}{{ $parent = .parent }}{{ end }}
  {{ $id := replace .ref "#/components/schemas/" "" }}
  <div class="span3">{{ $id }}</div>
  {{ $schema := index .openapi.components.schemas $id }}
  {{ $openapi := .openapi }}
  <div>{{ $schema.description }}</div>
  {{ range $name, $property := $schema.properties }}
    <div>{{$parent}}{{$name}}</div>
    <div>{{ $property.type }} {{ if $property.nullable }} (nullable){{ end }}</div>
    <div>{{ $property.format }}</div>
    <div>{{ $property.description }}</div>
    {{ $ref := index $property.items "$ref" }}
    {{ if eq $property.type "array"}}
      {{ partial "property-schema" (dict "ref" $ref "openapi" $openapi "parent" (printf "%s%s[]." $parent $name)) }}
    {{ else }}
      {{ partial "property-schema" (dict "ref" $ref "openapi" $openapi "parent" (printf "%s%s." $parent $name)) }}
    {{ end }}
  {{ end }}
{{ end }}





