* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
  font-size: 1em;
  overflow: hidden;
}

li {
  list-style-type: none;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  color: black;
  background-color:lightgray;
  padding: 0.5em;
}

h2 {
  font-weight: bold;
  margin-top: 2em;
}

.path-container {
  padding: 1em;
  border-bottom: 1px solid black;
}

.path {
  font-size: 2em;
}

.path .method {
  text-transform: uppercase;
}

.path-summary {
  font-size: 1.5em;
  margin-top: 1em;
}

.body-table {
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin: 1em;
}

.body-table div{
  padding-right: 1em;
  margin-top: 0.5em;
}

.body-table .header {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.span3 {
  color: slateblue;
  grid-column: 1/4;
}

.items-delimiter {
  color: slateblue;
  grid-column: 1/5;
}

.page-container {
  display: grid;
  grid-template-areas: 
  "H H"
  "N D";
  grid-template-columns: 20% 80%;
  height: 100vh;
}

.page-header {
  grid-area: H;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.75em;
}

.navigation {
  grid-area: N;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 0 1em;
}

.navigation::-webkit-scrollbar { 
  width: 0; 
}

ul.closed {
  display: none;
}

.methods-li {
  margin-left: 1em;
}

.doc-container {
  grid-area: D;
  overflow-x: hidden;
}